<% include partials/header %>

    <section class="section_main">
        <div class="section_main-titlebox">
            <div class="navbar">
                <ul class="navlist">
                    <li class="navlist-item">Instagram</i></li>
                    <li class="navlist-item">About</li>
                    <li class="navlist-item"><a href="/recipes">Recipes</a></li>
                    <li class="navlist-item"><span style="font-weight: 500;"><i class="fas fa-user-plus"></i> Sign Up</span></li>
                </ul>
            </div>
            <div class="center section_main-name">
                <h1 class="section_main-title">Getting Baked</h1>
                <h3 class="section_main-subtitle">With Jenn</h3>
            </div>
            <div class="section_main-signup center" style="margin-top: 175px;">
                <a href="#" class="btn-signup">Sign Up</a>
                  |  
                <a href="#" class="login">  Login</a>
            </div>
        </div>
        <!-- <div class="section_main-infobox">
            <h3>Delicious, exclusive, real-time recipes.</h3>
        </div> -->
    </section>



    <!-- <section class="section_testimonials">
        <div class="testimonials">
            <div class="testimonials-inner">
                <h1>Testimonials</h1>
                <div class="testimonials-border"></div>
                <div class="testimonials-row">
                    <div class="testimonials-col">
                       <div class="testimonial">
                        <img src="img/pf1.jpeg" alt="">
                        <div class="testimonial-name">Sarah Larson</div>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rem commodi asperiores eos totam 
                            architecto corporis et, omnis laboriosam quia vitae, illo molestias aut vel possimus recusandae necessitatibus in. Ullam!"</p>
                       </div>
                    </div>
                    <div class="testimonials-col">
                        <div class="testimonial">
                            <img src="img/pf2.jpg" alt="">
                            <div class="testimonial-name">Zack Bronson</div>
                            <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rem commodi asperiores eos totam architecto
                                corporis et, omnis laboriosam quia vitae, illo molestias aut vel possimus recusandae necessitatibus in. Ullam!"</p>
                        </div>
                    </div>
                    <div class="testimonials-col">
                        <div class="testimonial">
                            <img src="img/pf3.jpg" alt="">
                            <div class="testimonial-name">Janae Mitchell</div>
                            <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rem commodi asperiores eos totam architecto
                                corporis et, omnis laboriosam quia vitae, illo molestias aut vel possimus recusandae necessitatibus in. Ullam!"</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section> -->



<% include partials/footer %>