@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/* === MAIN SECTION === */

.section_main {
    height: 100vh;
    background: url('../img/mainbg2.jpg');
    background-size: cover;
    position: relative;
}

.section_main-titlebox {
    position: absolute;
    top: 50%;
    left: 15%;
    height: 75%;
    width: 35%;
    background-color: #fff;
    transform: translate(-15%, -50%);
    box-shadow: 15px 0 15px rgba(0, 0, 0, 0.15);
}

.navbar {
    height: 7.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(233, 189, 184, 0.377);
    /* box-shadow: 10px 0 8px rgba(0, 0, 0, 0.15); */
}

.navbar .navlist {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlist-item {
    color: #B66B76;
    padding: 15px 10px;
    position: relative;
}

.navlist-item a {
    text-decoration: none;
    color: #B66B76;
    transition: all .3s;
}

.navlist-item:hover,
.navlist-item a:hover {
    color: rgb(109, 68, 74);
    cursor: pointer;
}

.navlist-item::after {
    content: '';
    position: absolute;
    top: 98%;
    left: 0;
    height: 3px;
    width: 0;
    background-color: rgba(182, 107, 118, 0.527);
    transition: all .3s;
}

.navlist-item:hover::after {
    width: 100%;
}

.section_main-infobox {
    position: absolute;
    top: 80%;
    left: 35%;
    height: 200px;
    width: 400px;
    transform: translate(-35%, -80%);
    background-color: #B66B76;
}

/* .section_main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(148, 85, 95, 0.767);
} */

.section_main-name {
    width: 75%;
}

.section_main-title {
    z-index: 100;
    color: #B66B76;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    text-align: center;
    position: relative;
    padding: 20px;
}

.section_main-subtitle {
    z-index: 100;
    color: #E9BDB8;
    font-weight: 300;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
    padding: 20px;
}

.section_main-title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 85%;
    height: 2px;
    background: linear-gradient(to right, #B66B76, rgba(182, 107, 118, 0));
}

.section_main-signup {
    text-align: center;
}

.section_main-signup a {
    text-decoration: none;
}

.login {
    color: #B66B76;
}



/* ===  RECENT RECIPES SECTION === */

.recipes-container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.section_recent-recipes {
    position: relative;
}

.recent-recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 65px;
}

.show-recipe {
    height: 100%;
    width: 100%;
}

.recipe-card {
    position: relative;
    display: grid;
    grid-template-rows: 60% 15% 25%;
    width: 325px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin: 30px 20px;
    transition: all .3s;
}

.recipe-card_image {
    grid-row: 1 / 2;
    position: relative;
}

.recipe-card_title {
    grid-row: 2 / 3;
    background-color: #B66B76;
}

.recipe-card_title--h3 {
    line-height: 35px;
    color: #fefefe;
    margin-left: 10px;
    font-weight: 300;
}

.recipe-card_stats {
    grid-row: 3 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
}

.recipe-card_stats i,
.recipe-card_stats p {
    margin: 0 10px;
}



.recipe-card:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.recipe-card:hover::after {
    height: 60%;
    opacity: 1;
}

.recipe-card::after {
    content: 'View Recipe';
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: rgba(182, 107, 118, 0.788);
    opacity: 0;
    transition: all .3s; 
}




/* === TESTIMONIALS SECTION === */

.section_testimonials {
    height: 65vh;
    background-color: #F2F1F2;
    /* position: relative; */
}

.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.testimonials-inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.testimonials-border {
    width: 160px;
    height: 5px;
    background: #B66B76;
    margin: 26px auto;
}

.testimonials-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials-col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial-name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

@media screen and (max-width: 960px) {
    .testimonials-col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .testimonials-col {
        flex: 100%;
        max-width: 100%;
    }
}




/* === ELEMENTS === */

/* section {
    height: 100vh;
} */

.section_header {
    width: 100%;
    height: 10vh;
    background-color: rgba(182, 107, 118, 0.76);
    position: relative;
}

.section_footer {
    position: relative;
    height: 10vh;
    margin-top: 30px;
}

.section_header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefefe;
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-main {
    padding: 15px 35px;
    border-radius: 100px;
    color: #B66B76;
    font-weight: 300;
    border: 2px solid #B66B76;
    text-decoration: none;
    transition: all .2s;
}

.btn-main:hover {
    background-color: #B66B76;
    color: #fff;
    cursor: pointer;
}

.btn-signup {
    padding: 10px 30px;
    border: 1.5px solid #B66B76;
    color: #B66B76;
    transition: all .3s;
}

.btn-signup:hover {
    background-color: #B66B76;
    color: #fff;
}